<!-- <br><br><br><hr> -->
<h2>welcome, <%=@user.username%></h2>
<!-- <hr> -->

<div class="main">
  <h3><a href="/users/<%=@user.slug%>/life">+  view my <span class="list-cat">life</span> bucketlist</a></h3>
  <h3><a href="/users/<%=@user.slug%>/spring">+  view my <span class="list-cat">spring</span> bucketlist</a></h3>
  <h3><a href="/users/<%=@user.slug%>/summer">+  view my <span class="list-cat">summer</span> bucketlist</a></h3>
  <h3><a href="/users/<%=@user.slug%>/fall">+  view my <span class="list-cat">fall</span> bucketlist</a></h3>
  <h3><a href="/users/<%=@user.slug%>/winter">+  view my <span class="list-cat">winter</span> bucketlist</a></h3>
  <h3><a href="/users/<%=@user.slug%>/travels">+  view my <span class="list-cat">travels</span></a></h3>

  <br><br>

  <h3><a href="/experiences/new">+  <span class="list-cat">add</span> to my bucketlists</a></h3>

  <br><br>
</div>
