<h3 class="page_heading">Welcome, <%=@user.name%></h3>
<br>

<div class="left_margin"></div>

<div class="home_list">
  <h5><a href="/users/<%=@user.slug%>/life">View my life bucketlist</a></h5>
  <h5><a href="/users/<%=@user.slug%>/spring">View my spring bucketlist</a></h5>
  <h5><a href="/users/<%=@user.slug%>/summer">View my summer bucketlist</a></h5>
  <h5><a href="/users/<%=@user.slug%>/fall">View my fall bucketlist</a></h5>
  <h5><a href="/users/<%=@user.slug%>/winter">View my winter bucketlist</a></h5>
  <h5><a href="/users/<%=@user.slug%>/locations">View the places I have been</a></h5>
  <br>
  <h5><a href="/experiences/new">Add to my bucketlists</a></h5>
</div>

<div class="right_margin"></div>
