<h2><%=@bucketlist.downcase%> bucketlist</h2>

<div class="main">
  <%@user.experiences.each do |experience|%>
    <%if experience.bucketlist == @bucketlist%>
      <%if experience.experienced == true%>
        <h3>+ <a href="/experiences/<%=experience.slug%>"> <%=experience.name%> - done!</a></h3>
      <%else%>
        <h3>+ <a href="/experiences/<%=experience.slug%>"> <%=experience.name%> - need to do</a></h3>
      <%end%>
      <p>  -->> <a href="/travels/<%=experience.location.slug%>/map"><%=experience.location.city%>, <%=experience.location.country%></a></p>
      <br>
    <%end%>
  <%end%>

  <%@experiences = @user.experiences.collect{|experience| experience if experience.bucketlist == @bucketlist}%>

  <%@experiences.compact!%>

  <%if @experiences.empty?%>
    <h6 class="sans_black"><%="No experiences to display yet."%></h6>
    <h6 class="sans_black"><a href="/experiences/new">Add something here to get started!</a></h6>
    <br>
    <br>
  <%end%>

</div>
