<h2>Welcome, <%=@user.name%></h2>

<h4><a href="/experiences/new">Add a new experience to my bucketlist</a></h4>
<br>
<h4><a href="/users/<%=@user.slug%>/life">View my Life Bucketlist</a></h4>
<h4><a href="/users/<%=@user.slug%>/spring">View my Spring Bucketlist</a></h4>
<h4><a href="/users/<%=@user.slug%>/summer">View my Summer Bucketlist</a></h4>
<h4><a href="/users/<%=@user.slug%>/fall">View my Fall Bucketlist</a></h4>
<h4><a href="/users/<%=@user.slug%>/winter">View my Winter Bucketlist</a></h4>
<br>
<h4><a href="/users/<%=@user.slug%>/locations">View the places I have been</a></h4>
