<h2><%=@bucketlist%> Bucketlist</h2>

<ol>
<%@user.experiences.each do |experience|%>
  <%if experience.bucketlist == @bucketlist%>
    <li><p><a href="/experiences/<%=experience.slug%>"><%=experience.name%></a></p>
    <p><%=experience.location.city%>, <%=experience.location.country%></p>
    <%if experience.experienced == true%>
      <p>I lived this!</p>
    <%else%>
      <p>I still need to live this</p>
    <%end%></li>
  <%end%>
<%end%>
</ol>

<br>
<br>

<form action="/logout" method="POST">
  <input type="submit" id="logout" value="Log Out">
</form>
