<h2>travels</h2>

<div class="main">
  <h3>places I have been: </h3>
  <%@traveled_locations.each do |location|%>
    <p>+ <a href="/travels/<%=location.slug%>/map"><%=location.city%>, <%=location.country%></a></p>
  <%end%>
  <br>

  <h3>places on my bucketlist: </h3>
    <%@bucketlist_locations.each do |location|%>
      <%@location = location%>
      <p>+ <a href="/travels/<%=@location.slug%>/map"><%=location.city%>, <%=location.country%></a></p>
    <%end%>
    <br>
</div>
