<h3 class="typewriter_cream page_heading"><%=@bucketlist%> BucketList</h3>

<div class="col"><p> </p></div>

<div class="col_middle">
  <ol>
  <%@user.experiences.each do |experience|%>
    <%if experience.bucketlist == @bucketlist%>
      <li class="typewriter_cream"><h6><a href="/experiences/<%=experience.slug%>"><%=experience.name%></a></h6></li>
      <a href="/travels/<%=experience.location.slug%>/map"><p class="sans_black"><%=experience.location.city%>, <%=experience.location.country%></p></a>
      <%if experience.experienced == true%>
        <p class="sans_black">Done!</p>
      <%else%>
        <p class="sans_black">Need to do</p>
      <%end%>
      <br>
    <%end%>
  <%end%>
  </ol>

  <%@experiences = @user.experiences.collect{|experience| experience if experience.bucketlist == @bucketlist}%>

  <%@experiences.compact!%>

  <%if @experiences.empty?%>
    <h6 class="sans_black"><%="No experiences to display yet."%></h6>
    <h6 class="sans_black"><a href="/experiences/new">Add something here to get started!</a></h6>
    <br>
    <br>
  <%end%>


</div>

<div class="col"><p> </p></div>
