<h3 class="page_heading"><%=@bucketlist%> BucketList</h3>

<div class="col"><p> </p></div>

<div class="col_middle">
  <ol>
  <%@user.experiences.each do |experience|%>
    <%if experience.bucketlist == @bucketlist%>
      <li><h6><a href="/experiences/<%=experience.slug%>"><%=experience.name%></a></h6></li>
      <p><%=experience.location.city%>, <%=experience.location.country%></p>
      <%if experience.experienced == true%>
        <p>Done!</p>
      <%else%>
        <p>Need to do</p>
      <%end%>
      <br>
    <%end%>
  <%end%>
  </ol>

  <%@experiences = @user.experiences.collect{|experience| experience if experience.bucketlist == @bucketlist}%>

  <%@experiences.compact!%>

  <%if @experiences.empty?%>
    <h6><%="No experiences to display yet."%></h6>
    <h6><a href="/experiences/new">Add something here to get started!</a></h6>
    <br>
    <br>
  <%end%>


</div>

<div class="col"><p> </p></div>
