<h2>experiences</h2>

<div class="main">
  <span class="show_info">
    <h2 style="margin-left: 1px;"><%=@experience.name%></h2>
    <h3><%=@experience.location.city%>, <%=@experience.location.country%></h3>
    <%if @experience.experienced == true%>
      <h4>done!</h4>
    <%else%>
      <h4>need to do</h4>
    <%end%>
  </span>
  <br><hr><br><br>

  <h3>update experience:</h3>
  <% if flash.has?(:message) %>
    <br>
    <h6 class="flash success"><%= flash[:message] %></h6>
    <br><br><br>
  <% end %>

<!-- update experience status -->
  <div>
    <form action="/experiences/<%=@experience.slug%>/status_change" method="POST">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <p><input type=radio id="experienced" name="experienced" value=true>done!</input>
      <input type=radio id="not_experienced" name="experienced" value=false>need to do</input><br><br>
      <input type="submit" id="submit" value="Update status"><p>
    </form>
  </div>
  <br>
  <br>

  <h4><a href="/experiences/<%=@experience.slug%>/edit">edit this experience</a></h4>
  <h4><a href="/users/<%=@user.slug%>/<%=@experience.bucketlist%>">view <%=@experience.bucketlist.downcase%> bucketlist</a></h4>
  <br>
  <br>

  <form action="/delete/<%=@experience.slug%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete this experience">
  </form>
  <br>
  <br>
</div>
